body{
    background-color: yellow;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(3, 3, 3);
    text-shadow:0 1px 2px purple;
    text-align: center;
}
.slider{
    width: 50%;
    height: 30%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0px;
    width: 400px;
    animation: cambio 10s infinite alternate linear;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 70%;
}
@keyframes cambio{
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}